@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
/* #71ec87 #228ff9 #e6e6e6 #151515 #2c4e6e */

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

header{
    height: 75px;
    width: 100%;
    background-color: #356189;
    display: flex;
    justify-content: space-between;
}

.imagotipo{
    display: flex;
}

.isotipo{
    height: 55px;
    width: 55px;
    margin: 10px;
}

.logotipo{
    height: 30px;
    width: 215px;
    margin-top: 20px;
}

.menu-main{
    display: flex;
    justify-content: flex-end;
}

.main-nav__item{
    justify-items: center;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.main-nav__item a{
    text-decoration: none;
    color: white;
}

.main-nav__item a:hover{
    color: #e6e6e6;
    border-bottom: 1px dotted #e6e6e6;
}
