@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
/* #71ec87 #228ff9 #e6e6e6 #151515 #2c4e6e */

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

header{
    background: rgba(230,230,230,1);
background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 33%, rgba(34,142,249,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(33%, rgba(230,230,230,1)), color-stop(100%, rgba(34,142,249,1)));
background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 33%, rgba(34,142,249,1) 100%);
background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 33%, rgba(34,142,249,1) 100%);
background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 33%, rgba(34,142,249,1) 100%);
background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 33%, rgba(34,142,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#228ef9', GradientType=1 );
}

header{
    height: 75px;
    width: 100%;
    /* background-color: #34495ee3; */
    display: flex;
    justify-content: space-between;
}

.imagotipo{
    display: flex;
}

.isotipo{
    height: 55px;
    width: 55px;
    margin: 10px;
}

.logotipo{
    height: 30px;
    width: 215px;
    margin-top: 20px;
}

.menu-main{
    display: flex;
    justify-content: flex-end;
}

.main-nav__item{
    justify-items: center;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.main-nav__item a{
    text-decoration: none;
    color: white;
}

.main-nav__item a:hover{
    color: #e6e6e6;
    border-bottom: 1px dotted #e6e6e6;
}

/* main */

main{
    background-color:  #71ec87;
    display: flex;
    justify-content: center;
}

#about-me{
    

}

#about-me img{
    width: 500px;
}

#projects{

}





/* footer */

footer{
    background-color: #151515aa;
    position: absolute;
    bottom: 0;
    color: #e6e6e6;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

footer p{
    padding: 10px;
}

footer a{
    color:  #228ff9;
    font-size: 1.3rem;
    text-decoration: none;
}